<p>Привет, <%= @user.name %>
<p>Поздравляем, Вы купили билет по маршруту <%= @ticket.route_name%></p>
<p>Посмотреть билет вы можете по <%= link_to 'ссылке', @ticket %>.</p>
<p>Все свои билеты вы можете посмотреть по <%= link_to 'здесь', tickets_url %></p>