<p>Здравствуйте, <%= @user.name %>

<p>Вы отменили своё путешествие с RZD по маршруту <%= @ticket.route_name%></p>

<p>Просмотреть историю своих путешествий вы можете по <%= link_to 'ссылке', tickets_url %></p>